header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    display: block;
}
li {
    position: static;
    top: 1px;
    height: 20px;
    list-style: none;
    display: inline;
    float: right;
    border-right: thin solid white;
    padding-right: 10px;
    padding-left: 5px;
    color: white;
    text-align: center;
}
body{
    background: linear-gradient(90deg, rgba(92, 92, 92, 0.781), rgb(46, 46, 47));
    height:500px;
    background-size:cover;
    background-attachment: fixed;
}
.welcome{
    position: relative;
    display: block;
    float:none;
    height:fit-content;
    margin: 20px;
    color: white;
}
hr{
    border-color: thin black;
}
hr.hr1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 60%;
}
hr.hr2{
    margin-right: 0%;
    margin-left: 60%;
}
.circulo{
    border: thin solid white;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    top: 50%;
    justify-content: center;
    height: 200px;
    width: 200px;
}
.logo_sombrero{
    height: 100px;
    width: 100px;
}
footer{
    position: fixed;
    bottom: 0px;
}