::-webkit-scrollbar{
    display: none;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    display: block;
}
ul{
    margin-right: 2%;
}
li{
    background-color: rgba(240, 248, 255, 0.014);
    position: static;
    top: 1px;
    height: 20px;
    list-style: none;
    display: inline;
    float: right;
    border-right: thin solid white;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    text-align: center;
}
button.buttonStyle{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    color: white;
}
body{
    background: linear-gradient(90deg, rgba(92, 92, 92, 0.781), rgb(46, 46, 47));
    height:500px;
    background-size:cover;
    background-attachment: fixed;
}
.welcome{
    margin-top: 15%;
    float:none;
    height:fit-content;
    color: white;
}
#hr1{
    border-color: thin black;
    position:relative;
    margin-bottom:-100px;
    margin-left: 0%;
    margin-right: 58%;
}
#hr2{
    border-color: thin black;
    margin-top: -100px;
    margin-right: 0%;
    margin-left: 58%;
}
#circulo{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    border:thin solid white;
    align-items: center;
    border-radius: 49%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    top: 50%;
    justify-content: center;
    height: 200px;
    width: 200px;
}
.logo_sombrero{
    height: 100px;
    width: 100px;
}
footer{
    color: white;
    position: fixed;
    bottom: 0px;
}